@model ProjectHub.Web.Controllers.DashboardStatsViewModel

<div class="columns is-multiline">
    <div class="column is-one-third">
        <div class="box has-background-primary-light has-text-centered">
            <p class="heading">Workspaces</p>
            <p class="title is-2 has-text-primary">@Model.WorkspaceCount</p>
            <span class="icon is-large">
                <i class="fas fa-layer-group fa-2x"></i>
            </span>
        </div>
    </div>

    <div class="column is-one-third">
        <div class="box has-background-info-light has-text-centered">
            <p class="heading">Projects</p>
            <p class="title is-2 has-text-info">@Model.ProjectCount</p>
            <span class="icon is-large">
                <i class="fas fa-project-diagram fa-2x"></i>
            </span>
        </div>
    </div>

    <div class="column is-one-third">
        <div class="box has-background-warning-light has-text-centered">
            <p class="heading">Total Tasks</p>
            <p class="title is-2 has-text-warning-dark">@Model.TaskCount</p>
            <span class="icon is-large">
                <i class="fas fa-tasks fa-2x"></i>
            </span>
        </div>
    </div>

    <div class="column is-half">
        <div class="box has-background-success-light has-text-centered">
            <p class="heading">Completed Tasks</p>
            <p class="title is-3 has-text-success">@Model.CompletedTaskCount</p>
            <span class="tag is-success is-medium">@Model.CompletionPercentage% Complete</span>
        </div>
    </div>

    <div class="column is-half">
        <div class="box has-background-link-light has-text-centered">
            <p class="heading">In Progress</p>
            <p class="title is-3 has-text-link">@Model.InProgressTaskCount</p>
            <span class="tag is-link is-medium">Active Work</span>
        </div>
    </div>
</div>

<p class="has-text-grey has-text-right is-size-7">
    <span class="icon"><i class="fas fa-clock"></i></span>
    Last updated: @Model.Timestamp.ToString("HH:mm:ss")
</p>
