@model ItemListTaskDto
<div class="flex p-2 justify-center">
    <h1 class="text-xl font-bold text-base-200">@Model.Name</h1>
</div>
<div id="item-actions" class="flex justify-end p-2 space-x-2">
    <div id="delete-checked-container" style="display: none;">
        <button id="delete-checked-btn" class="btn btn-sm bg-red-500 text-white">
            <img src="~/svg/close.svg" class="h-6 w-6" />
        </button>
    </div>
    <button class="btn btn-sm bg-purple-300"
            hx-get="@Url.Action("AddItem", "Item")"
            hx-vals='{"taskListId": "@ViewData["taskListId"]"}'
            hx-target="body"
            hx-swap="beforeend transition:true"
            hx-indicator="#loading-indicator">
        <img src="~/svg/add.svg" class="h-6 w-6" />
    </button>
</div>

<ul id="items-sortable">
    @foreach (var row in Model.Items!.OrderBy(x => x.Order))
    {
        <partial name="_ItemPartial" model="@row" />
    }
</ul>

<input type="hidden" class="bg-orange-300" />

<script>
    initiateItemList('@Url.Action("UpdateItemOrders", "Item")', '@ViewData["taskListId"]');
</script>