<!-- Top Section -->
<div hx-get="@Url.Action("GetUserDisplay","Home")"
     hx-target="#navbar-start-placeholder"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("ClearDiv", "Home")"
     hx-target="#navbar-center-placeholder"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("GetBurgerMenuHome", "Home")"
     hx-target="#navbar-end-placeholder"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("GetSearchBar","Home")"
     hx-target="#search-bar-container"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<!-- Categories Section -->
<div class="mt-6 px-4">
    <h2 class="text-l font-semibold" style="color:#5ee9b5">Categories</h2>
    <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="card shadow-md text-center bg-white"
             hx-get="@Url.Action("Index","Calendar")"
             hx-target="#primary-container"
             hx-swap="innerHtml transition:true"
             hx-push-url="true"
             hx-indicator="#loading-indicator">
            <div class="card-body p-2">
                <img src="~/svg/calendar.svg" class="w-12 h-12 mx-auto">
                <p class="text-gray-500">Calendar</p>
            </div>
        </div>
        <div class="card shadow-md text-center bg-white"
             hx-get="@Url.Action("Index","Task")"
             hx-target="#primary-container"
             hx-swap="innerHtml transition:true"
             hx-push-url="true"
             hx-indicator="#loading-indicator">
            <div class="card-body p-2">
                <img src="~/svg/lists.svg" class="w-12 h-12 mx-auto">
                <p class="text-gray-500">Lists</p>
            </div>
        </div>
        <div class="card shadow-md text-center bg-white"
             hx-get="@Url.Action("Index","Documents")"
             hx-target="#primary-container"
             hx-swap="innerHtml transition:true"
             hx-push-url="true"
             hx-indicator="#loading-indicator">
            <div class="card-body p-2">
                <img src="~/svg/documents.svg" class="w-12 h-12 mx-auto">
                <p class="text-gray-500">Files</p>
            </div>
        </div>
        <div class="card shadow-md text-center bg-white"
             hx-get="@Url.Action("Index","LoyaltyCard")"
             hx-target="#primary-container"
             hx-swap="innerHtml transition:true"
             hx-push-url="true"
             hx-indicator="#loading-indicator">
            <div class="card-body p-2">
                <img src="~/svg/barcode.svg" class="w-12 h-12 mx-auto">
                <p class="text-gray-500">Cards</p>
            </div>
        </div>
    </div>
</div>

<!-- Upcoming Events Section -->
<div class="mt-6 px-4">
    <h2 class="text-l font-semibold" style="color:#5ee9b5">Upcoming Events</h2>
    <div id="upcoming-events" class="mt-4 space-y-4">
        <div hx-get="@Url.Action("GetUpcomingEvents", "Home")"
             hx-target="#upcoming-events"
             hx-swap="innerHtml transition:true"
             hx-trigger="load"
             hx-indicator="#loading-indicator">
        </div>
    </div>
</div>

