<!-- Top Section -->
<div hx-get="@Url.Action("GetBurgerMenu","Home")"
     hx-trigger="load"
     hx-target="#navbar-start-placeholder"
     hx-swap="innerHtml transition:true"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("GetPageHeading", "Home")"
     hx-vals='{"heading": "Admin" }'
     hx-target="#navbar-center-placeholder"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("GetLoginPartial", "Home")"
     hx-target="#navbar-end-placeholder"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div hx-get="@Url.Action("ClearDiv", "Home")"
     hx-target="#search-bar-container"
     hx-swap="innerHtml transition:true"
     hx-trigger="load"
     hx-indicator="#loading-indicator">
</div>

<div class="mx-2">
    <a asp-area="Identity"
       asp-page="/Account/Register"
       class="btn btn-lg btn-outline w-full btn-primary mt-4">
        <img src="~/svg/profile-white.svg" class="w-12 h-12" />
        Register Members
    </a>

    <button class="btn btn-lg btn-outline w-full btn-primary mt-4"
            hx-get="@Url.Action("Index","CalendarEventTypes")"
            hx-trigger="click"
            hx-target="#primary-container"
            hx-swap="innerHtml transition:true"
            hx-push-url="true">
        <img src="~/svg/sticky-calendar.svg" class="w-12 h-12" />
        Add Calendar Events
    </button>
</div>

@if (ViewBag.IsHTMXRequest == true)
{
    <script defer src="~/js/admin.js" asp-append-version="true"></script>
}
else
{
    @section Scripts {
    <script defer src="~/js/admin.js" asp-append-version="true"></script>
    }
}